/node_modules
/.git
/.gitignore
/coverage
/tsconfig.json
/CONTRIBUTING.md
/jest.config.js
/.prettierrc.json
/.prettierignore
/lib/tests
/docker-compose.yml
/Dockerfile
/openssl-db-key
/release-check.sh
